@import url('../Palette.css');

#aqc-container {
  position: relative;
  width: 100%;
  display: flex;
  opacity: 0;
  color: rgba(var(--gray-800), 0.6);
}

#aqc {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 1.5rem;
  left: 1rem;
  overflow: hidden;
  background-color: transparent;
}

#aqc-form {
  display: flex;
  width: 25%;
  flex-wrap: nowrap;
}

#aqc-input {
  display: flex;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.75rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(var(--font), 0.5);
  border-bottom: 1px solid rgba(var(--gray-500), 0.4);
}

#aqc-submit {
  margin-left: 0.5rem;
  padding-inline: 0.6rem;
  border: 1px solid rgba(var(--gray-500), 0.4);
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}

#aqc-icon {
  height: 1.3rem;
  transform: translateY(0.15rem);
  opacity: 40%;
}

#aqc-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aqc-options-toggle {
  background-color: transparent;
  outline: none;
  border: none;
}

#aqc-options-icon {
  opacity: 40%;
  width: 75%;
  transform: rotate(90deg) translateX(0.2rem);
}

#active-query-menu-options-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#active-query-menu-options-list {
  margin-left: 0.5rem;
  display: flex;
  gap: 3rem;
  list-style: none;
  transform: translateY(1.75rem);
  color: rgba(var(--font), 0.4)
}