@import url('../Palette.css');

#aqc-container {
  position: relative;
  width: 100%;
  display: flex;
  opacity: 0;
  color: rgba(var(--gray-800), 0.6);
}

#aqc {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 1.5rem;
  left: 1rem;
  overflow: hidden;
  background-color: transparent;
}


#aqc-form {
  display: flex;
  width: 33%;
  flex-wrap: nowrap;
  opacity: 50%;
  transition: all 0.25s;
}

#aqc-form:focus-within {
  opacity: 100%;
}

#aqc-input {
  display: flex;
  width: 100%;
  font-size: 1.25rem;
  padding: 0.75rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(var(--font), 0.5);
  border-bottom: 1px solid rgb(var(--gray-500));
}

#aqc-submit {
  margin-left: 0.5rem;
  padding-inline: 0.6rem;
  border: 1px solid rgb(var(--gray-500));
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}

#aqc-fetch-submit {
  margin-left: 0.5rem;
  padding-inline: 0.6rem;
  border: 1px solid rgb(var(--gray-500));
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}

#aqc-icon {
  height: 1.5rem;
  transform: translateY(-0.07rem);
}

#aqc-fetch-icon {
  height: 1.5rem;
  animation-name: fetch-button-rotation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 75%;
}

#aqc-cur-sel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aqc-cur-sel-toggle {
  background-color: transparent;
  outline: none;
  border: none;
}

#aqc-cur-sel-icon {
  opacity: 75%;
  width: 75%;
  transform: rotate(90deg) translateX(0.2rem);
}

#aqm-cur-sel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aqm-cur-sel-list {
  margin-left: 0.5rem;
  display: flex;
  gap: 1rem;
  list-style: none;
  transform: translateY(5rem);
  color: rgb(var(--font));
  font-size: 1.2rem;
  
}