@import url('../Palette.css');

#related-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  background-color: transparent;
  color: rgb(var(--font))
}

#related-links-list {
  list-style: none;
  display: flex;
  background-color: transparent;
  font-size: 1.2rem;
}

#related-link a:hover {
  transition: font-size 235ms, text-decoration 235ms;
  font-size: 1.3rem;
  text-decoration: underline;
}

#related-link a:not(:hover) {
  transition: font-size 235ms, text-decoration 235ms;
  font-size: 1.2rem;
  text-decoration: none;
}

@media (max-width: 865px) {
  #related-links-list {
    gap: 1rem;
  }
}

@media (min-width: 866px) and (max-width: 1024px) {
  #related-links-list {
    gap: 2rem;
  }
}

@media (min-width: 1025px) and (max-width: 1225px) {
  #related-links-list {
    gap: 7rem;
  }
}

@media (min-width: 1226px) and (max-width: 1450px) {
  #related-links-list {
    gap: 15rem;
  }
}

@media (min-width: 1451px) {
  #related-links-list {
    gap: 17rem;
  }
}