@import url('../Palette.css');

#main-query-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  backdrop-filter: blur(3px);
  backdrop-filter: brightness(0.7);
  opacity: 0;
}

#main-query-form-container {
  width: 40%;
}

#main-query-form {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

#main-query-input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.75rem;
  border: 1px solid rgb(var(--gray-500));
  border-radius: 0.5rem;
  background-color: transparent;
  color: var(--font);
}

#main-query-submit {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  padding: 0.75rem;
  border: 1px solid rgb(var(--gray-500));
  border-radius: 0.5rem;
  background-color: transparent;
  color: rgb(var(--gray-800));
  cursor: pointer;
}

#main-fetch-submit {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  padding: 0.75rem;
  border: 1px solid rgb(var(--primary));
  border-radius: 0.5rem;
  background-color: transparent;
  color: rgb(var(--gray-800));
  cursor: pointer;
}

#icon-adjustment-layer {
  opacity: 0.5;
  transform: translateY(0.17rem);
}

#main-query-icon {
  height: 1.5rem;
}

#main-fetch-icon {
  height: 1.5rem;
  animation-name: fetch-button-rotation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#main-query-input::placeholder {
  color: rgb(var(--gray-800));
}

#main-query-input:focus {
  outline: none;
  border: 1px solid rgb(var(--primary));
}

#main-query-glogo-container {
  position: absolute;
  top: 53%;
  left: 53%;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#main-query-glogo {
  position: absolute;
  height: 66%;
  z-index: -1;
  opacity: 0.08;
  animation-name: slow-globe-rotation;
  animation-duration: 280s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#main-query-glogo:hover {
  opacity: 0.109;
  transition: opacity 3s;
}

#main-query-title {
  font-size: 3.5rem;
  text-shadow: rgb(var(--gray-900)) 0.1rem 0.1rem 0.1rem;
  margin-bottom: 0.2rem;
}

#main-query-subtitle {
  font-family: "Charis SIL", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 2.75rem;
  margin-bottom: 1rem;
}

#wikidata-homepage-link:hover {
  font-family: "Charis SIL", serif !important;
  font-weight: 100 !important;
  font-style: normal !important;
  transition: font-size 235ms, text-decoration 235ms;
  font-size: 2.85rem;
  text-decoration: underline;
}

#wikidata-homepage-link:not(:hover) {
  font-family: "Charis SIL", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  transition: font-size 235ms, text-decoration 235ms;
  font-size: 2.75rem;
  text-decoration: none;
}

#main-query-invalid-container {
  position: fixed;
  background-color: rgba(var(--danger), 0.3);
  backdrop-filter: blur(3rem);
  padding: 0.4rem 1.75rem;
  border-radius: 1rem;
  border: 0.075rem solid rgba(var(--danger), 0.45);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  bottom: 35%;
  opacity: 0;
}

#main-query-invalid-message {
  font-size: 1.5rem;
  color: rgb(var(--danger))
}