.edge-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.edge-item-cur-vert-icon {
  cursor: pointer;
}

.edge-item-property-source-link {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  padding: 0 0.25rem
}

.edge-item-property-source-link p {
  font-size: clamp(1rem, 1.5vw, 2rem);
  text-shadow: 1px 1px black;
}

.edge-item-property-label-incoming {
  color: rgb(var(--edge-in-text));
  transition: text-decoraction var(--def-transit) ease-in-out, transform var(--def-transit) ease-in-out;
}

.edge-item-property-label-incoming:hover {
  text-decoration: underline;
  text-decoration-color: rgb(var(--edge-in-text));
  transform: scale(105%);
}

.edge-item-property-label-outgoing {
  color: rgb(var(--edge-out-text));
  transition: text-decoraction var(--def-transit) ease-in-out, transform var(--def-transit) ease-in-out;
}

.edge-item-property-label-outgoing:hover {
  text-decoration-color: rgb(var(--edge-out-text));
  text-decoration: underline;
  transform: scale(105%);
}

.edge-item-property-label-parallel {
  color: rgb(var(--edge-para-text));
  transition: text-decoraction var(--def-transit) ease-in-out, transform var(--def-transit) ease-in-out;
}

.edge-item-property-label-parallel:hover {
  text-decoration-color: rgb(var(--edge-para-text));
  text-decoration: underline;
  transform: scale(105%);
}


.edge-item-alt-topic-span {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgb(var(--font));
  font-size: clamp(1rem, 1.5vw, 2rem);
  text-shadow: 1px 1px black;
}