#nav-status-msg-display {
  position: fixed;
  top: 0%;
  width: 100%;
  transition: transform 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#nav-status-msg-list {
  width: 100%;
  display: flex;
}

#nav-status-msg-explore-nav {
  margin-right: auto;
}

#nav-status-msg-about-nav {
  margin: auto;
}

#nav-status-msg-settings-nav {
  margin-left: auto;
}

#nav-status-msg-list li {
  display: flex;
  font-size: 2rem;
  color: rgba(var(--font), 0.65);
  transition: transform 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#nav-status-msg-explore-cont {
  display: flex;
}

#nav-status-msg-explore {
  display: flex;
}

#nav-status-msg-explore span {
  opacity: 0%;
  transition: opacity 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  color: rgba(var(--font), 0.3);
}

#nav-status-msg-about span {
  opacity: 0%;
  transition: opacity 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  color: rgba(var(--font), 0.3);
}

#nav-status-msg-re-search-icon {
  opacity: 20%;
  margin-top: 0.5rem;
}

#nav-status-msg-query-input {
  font-size: 2.75rem;
  font-weight: bold;
  background-color: transparent;
  color: var(--font);
  border: none;
}

#nav-status-msg-query-input:focus {
  outline: none;
}