#sketch-details-container {
  transition: transform var(--default-transition-dur) ease-in-out;
  transform: translateY(100%);
  width: 125%;
  justify-items: flex-end;
}

#sketch-details-layout {
  display: flex;
  gap: 0.1rem;
}

#sketch-details-counts-container {
  display: flex;
  align-items: flex-end;
  gap: 0.25rem;
}

/* ! STATS STATS STATS */
/* ! STATS STATS STATS */
/* ! STATS STATS STATS */

#sketch-details-counts-labels-container {
  font-weight: 800;
  text-align: end;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  line-height: 1;
  letter-spacing: -0.1rem;
}

#sketch-details-topics-label {
  background: rgb(var(--gold));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  overflow: hidden;
}

#sketch-details-statements-label {
  background-clip: text;
  background: linear-gradient(
    to right,
    rgb(var(--edge-out)),
    rgb(var(--edge-para)),
    rgb(var(--edge-in))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.1rem;
}

#sketch-details-counts-numbers-container {
  font-size: clamp(1.35rem, 1.8vw, 2rem);
  border: 2px solid rgb(var(--font));
  border-radius: 0.25rem;
  line-height: 1;
  padding: 0.05rem 0.15rem;
}

#sketch-details-topics-count {
  color: rgb(var(--gold));
  font-weight: 500;
  text-shadow: 1px 1px black;
}

#sketch-details-statements-count {
  color: rgb(var(--edge-in-text));
  font-weight: 500;
  text-shadow: 1px 1px black;
}

/* ! CAM CAM CAM */
/* ! CAM CAM CAM */
/* ! CAM CAM CAM */

#sketch-details-cam-container {
  display: flex;
}

#sketch-details-cam-container-label {
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  font-size: clamp(1.25rem, 2vw, 2.5rem);
  line-height: 0.62;
}

#sketch-details-cam-container-label span {
  color: rgb(var(--light-blue));
}

#sketch-details-cam-data-layout {
  display: flex;
  align-items: flex-end;
  gap: 0.15rem;
}

#sketch-details-cam-data-label-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: clamp(0.75rem, 1vw, 2rem);
  /* line-height: 0.95; */
  font-weight: 900;
  letter-spacing: -0.05rem;
  padding: 0 0.15rem;
  margin-bottom: 0.085rem;
}

#sketch-details-cam-position-label {
  color: rgb(var(--light-blue), 0.5);
}

#sketch-details-cam-focus-label {
  color: rgb(var(--light-blue), 0.5);
}

#sketch-details-cam-numbers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: none;
  color: rgb(var(--light-blue));
  font-size: clamp(0.85rem, 1.35vw, 2.25rem);
  font-weight: 800;
  letter-spacing: -0.05rem;
}

#sketch-details-cam-data-legend span {
  color: rgb(var(--light-blue), 0.5);
}

#sketch-details-cam-data-legend {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: rgb(var(--light-blue));
  font-size: clamp(0.75rem, 1.15vw, 2rem);
}

#sketch-details-cam-position {
  color: rgb(var(--light-blue));
  text-wrap: none;
}

#sketch-details-cam-focus {
  color: rgb(var(--light-blue));
  text-wrap: none;
}
