#settings-status-container {
  position: absolute;
  right: 0;
  bottom: -14rem;
  transform: translateX(0%);
  text-shadow: 1px 1px black;
  transform: translateX(0%);
  transition: transform var(--default-transition-dur) ease-in-out;
}

#settings-status-container.settings-open {
  transform: translateX(120%);
}

#settings-status-title {
  display: flex;
  flex-direction: column;
  line-height: 0.85;
  align-items: center;
}

#settings-status-title span {
  color: rgb(var(--gold));
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 900;
}
