#re-search-container {
  display: inline-flex;
  align-items: center;
  transition: all var(--default-transition-dur) ease-in-out;
  transform: translateY(100%);
}

#re-search-input.on-screen {
  transform: translateY(0%);
}

#re-search-container.res-error {
  transform: translateY(0%);
  animation: horizontal-shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

#re-search-input {
  display: inline-flex;
  background-color: transparent;
  font-weight: 700;
  text-shadow: 1px 1px black;
  font-size: clamp(1.65rem, 2.35vw, 3.5rem);
  border: none;
  outline: none;
  width: 22vw;
  color: rgb(var(--font));
  border-bottom: 2px solid rgb(var(--font), 0.5);
  padding: 0.25rem 0.15rem;
  transition: all 0.82s ease-in-out;
}

#re-search-input.res-error {
  border-bottom-color: rgb(var(--danger));
  color: rgb(var(--danger));
  caret-color: rgb(var(--danger));
}

#re-search-input:focus {
  outline: none;
  border-bottom: 2px solid rgb(var(--font), 0.75);
  caret-color: rgb(var(--font));
  color: rgb(var(--font));
}

#re-search-input::placeholder {
  color: rgba(var(--font), 0.35);
}

#re-search-icon-container {
  display: inline-flex;
}

#re-search-icon {
  transition: opacity var(--default-transition-dur) ease-in-out;
  opacity: 1;
}

#re-search-icon.res-error {
  opacity: 0;
}

#re-search-error-icon {
  position: fixed;
  opacity: 0%;
  transition: opacity 0.82s;
}

#re-search-error-icon.res-error {
  transition: opacity var(--default-transition-dur) ease-in-out;
  opacity: 1;
}
