#cur-hovered-info-container {
  grid-row: 1;
  grid-column: 1;
  user-select: none;
  opacity: 0;
  transition: opacity calc(var(--def-transit) / 2) ease-in-out;
}

#cur-hovered-info-layout {
  padding: 0.5rem;
  display: flex;
}

#cur-hovered-info-icon-container {
  display: flex;
  align-items: center;
}

#cur-hovered-info-icon {}

#cur-hovered-info-text-container {
  padding: 0.25rem;
}

#cur-hovered-info-title-span {
  display: inline-flex;
  align-items: baseline;
}

#cur-hovered-info-title {
  font-weight: 400;
  font-size: clamp(1rem, 1.9vw, 2.75rem);
  text-shadow: 0 0 1px black;
  color: rgb(var(--font));
  line-height: 0.65;
}

#cur-hovered-info-cur-hov-coords {
  color: rgb(var(--font), 0.5);
  font-size: clamp(1rem, 0.8vw, 2rem);
  margin-left: 0.25rem;
  white-space: nowrap;
}

#cur-hovered-info-desc-abrdg {
  font-size: clamp(0.85rem, 1.15vw, 1.1rem);
  text-shadow: 0 0 1px black;
  color: rgb(var(--font));
  max-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}