* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(var(--hyperlink));
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}