@import url('./Palette.css');

body {
  height: 100vh;
  width: 100vw;
  overflow: clip;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 862px;
}

#site-title-text-main {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateX(-41%) translateY(-50%) rotate(-90deg);
  white-space: nowrap;
  z-index: -10;
  font-size: calc(0.19*100vh);
  color: rgb(var(--font));
  text-shadow: 3px 3px 3px black;
}

#site-title-stack {
  position: fixed;
  display: flex;
  top: -1%;
  /* right: 10%; */
  z-index: -10;
  font-size: calc(0.095*100vh);
  color: rgb(var(--font));
  text-shadow: 3px 3px 3px black;
}