@import url('../assets/Palette.css');

* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(var(--hyperlink));
  background-color: transparent;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: clip;
}

#root {
  height: 100vh;
  width: 100vw;
}

#wikiverse-container {
  height: 100%;
  width: 100%;
  display: block;
}

#sketch-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: clip;
  box-shadow: 0rem 0rem 2rem 1rem rgba(0, 0, 0, 0.22);
}

#sketch-overlay-bot {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 40% 60%;
  bottom: 0%;
  width: 100%;
  margin-bottom: 0.1rem;
  background-color: transparent;
}