@import url('./Palette.css');

body {
  height: 100vh;
  width: 100vw;
  overflow: clip;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 862px;
}

#site-title-text-main {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateX(-41%) translateY(-55%) rotate(-90deg);
  white-space: nowrap;
  z-index: -10;
  font-size: calc(0.2*100vh);
  color: rgb(var(--font));
  text-shadow: 3px 3px 3px black;
}

#site-title-stack {
  position: fixed;
  display: flex;
  top: -2%;
  transform: rotate(180deg);
  z-index: -10;
  font-size: calc(0.08*100vh);
  color: rgb(var(--font), 0.25);
  /* text-shadow: 3px 3px 3px black; */
}

#sketch-layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem 0rem 2rem 1rem rgba(0, 0, 0, 0.12);
}