:root {
  /* global color vars */
  /* #f5f5f5; */
  --font: 245, 245, 245;
  /* #ADB5BD; */
  --gray-500: 173, 181, 189;
  /* #343A40; */
  --gray-800: 52, 58, 64;
  /* #212529; */
  --gray-900: 33, 37, 41;
  /* #1f1f21; */
  --body-bg: 31, 31, 33;
  /* #01010e; */
  --sketch-bg: 1, 1, 14;
  /* #105488; */
  --hyperlink: 16, 84, 136;
  /* #274c77; */
  --primary: 39, 76, 119;
  /* #e5383b; */
  --danger: 229, 56, 59;
}

.unused-colors {
  --gray-100: #F8F9FA;
  --gray-200: #E9ECEF;
  --gray-300: #DEE2E6;
  --gray-400: #CED4DA;
  --gray-600: #6C757D;
  --gray-700: #495057;
  --accent: #ff6700;
}