#about-display {
  position: absolute;
  top: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0%;
  transition: opacity 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#about-container {
  width: 86%;

}

#about-text-container {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(1rem);
  position: relative;
}

#about-text-container::before,
#about-text-container::after {
  content: "";
  position: absolute;
  border: .3rem solid rgb(var(--font));
}

#about-text-container::before {
  top: 0;
  left: 0;
  border-width: .35rem 0 0 .35rem;
  border-style: solid;
  width: 8rem;
  height: 3rem;
}

#about-text-container::after {
  bottom: 0;
  right: 0;
  border-width: 0 .35rem .35rem 0;
  border-style: solid;
  width: 8rem;
  height: 3rem;
}

#about-header-cont {
  margin: 0 1rem;
}

#about-header {
  text-shadow: 1px 1px 2px black;
  font-family: "CharisSIL-Bold", serif !important;
  font-size: 2.4rem;
  color: rgb(var(--font));
}

#about-main-text-cont {
  margin: 0rem 1rem 1rem 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
}

#about-main-text-cont::before,
#about-main-text-cont::after {
  content: "";
  position: absolute;
  border: .1rem solid rgb(var(--font), 0.15)
}

#about-main-text-cont::before {
  top: 3.75rem;
  right: 2rem;
  border-width: .2rem .2rem 0 0;
  border-style: solid;
  width: 2rem;
  height: 6rem;
}

#about-main-text-cont::after {
  bottom: 1.25rem;
  left: 1rem;
  border-width: 0 0 .2rem .2rem;
  border-style: solid;
  width: 2rem;
  height: 6rem;
}

#about-main-text {
  text-shadow: 1px 1px 2px black;
  font-size: 1.5rem;
  color: rgb(var(--font));
}

#about-action-instruct-cont {
  text-align: end;
}

#about-action-instruct {
  font-size: 1.5rem;
  color: rgb(var(--font), 0.85);
  font-family: "CharisSIL-regular", serif !important;
  text-shadow: 1px 1px 2px black;
}