@import url('../assets/Palette.css');

@font-face {
  font-family: 'CharisSIL-Regular';
  src: url('../assets/font/CharisSIL-Regular.ttf') format('truetype');
}

#hovered-vertex-container {
  display: flex;
  justify-self: flex-start;
  grid-column: 1;
  opacity: 75%;
  margin-left: 1rem;
}

#cur-hovered {
  display: inline-flex;
  align-items: center;
  margin-top: 6px;
  font-size: 1.5rem;
  text-shadow: 0px 2px 3px rgb(var(--sketch-bg));
}

#cur-hov-icon {
  height: 1.4rem;
}

#cur-hov-label {
  text-shadow: 0px 1px 2px black;
  color: rgb(var(--font));
}

#cur-hov-desc {
  text-shadow: 0px 1px 2px black;
  color: rgba(var(--font), 0.5);
  padding: 0.25rem;
}

#attr-label {
  color: rgb(var(--font), 65%);
  font-family: 'CharisSIL-Regular', sans-serif;
}