@import url('../assets/Palette.css');

@font-face {
  font-family: 'CharisSIL-Regular';
  src: url('../assets/font/CharisSIL-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CharisSIL-Bold';
  src: url('../assets/font/CharisSIL-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'CharisSIL-Italic';
  src: url('../assets/font/CharisSIL-Italic.ttf') format('truetype');
}

#mq-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  backdrop-filter: blur(3px);
  backdrop-filter: brightness(0.7);
  opacity: 0;
}

#mq-form-container {
  width: 40%;
}

#mq-form {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

#mq-input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.75rem;
  border: 1px solid rgb(var(--font), 0.75);
  border-radius: 0.5rem;
  background-color: transparent;
  color: var(--font);
}

#mq-submit {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  padding: 0.75rem;
  border: 1px solid rgba(var(--font), 0.75);
  border-radius: 0.5rem;
  background-color: transparent;
  color: rgba(var(--font), 0.75);
  cursor: pointer;
}

#mq-fetch-submit {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  padding: 0.75rem;
  border: 1px solid rgb(var(--primary));
  border-radius: 0.5rem;
  background-color: transparent;
  color: rgba(var(--font), 0.8);
  cursor: pointer;
}

#icon-adjustment-layer {
  opacity: 0.5;
  transform: translateY(0.17rem);
}

#mq-icon {
  height: 1.5rem;
}

#mq-fetch-icon {
  height: 1.5rem;
  animation-name: fetch-button-rotation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#mq-input::placeholder {
  color: rgba(var(--font), 0.35);
}

#mq-input:focus {
  outline: none;
  border: 1px solid rgb(var(--primary));
}

#mq-glogo-container {
  position: absolute;
  top: 20%;
  left: 28.5%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#mq-glogo {
  position: absolute;
  height: 66%;
  z-index: -1;
  opacity: 0.08;
  animation-name: slow-globe-rotation;
  animation-duration: 280s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: opacity 3s;
}

#mq-glogo:hover {
  opacity: 0.109;
}

#mq-glogo:not(:hover) {
  opacity: 0.08;
}

#mq-title {
  font-size: 3.5rem;
  text-shadow: rgb(var(--sketch-bg)) 0.1rem 0.1rem 0.1rem;
  margin-bottom: 0.2rem;
}

#mq-subtitle {
  font-family: "CharisSIL-Regular", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 2.75rem;
  margin-bottom: 1rem;
}

#wikidata-homepage-link:hover {
  font-family: "CharisSIL-Regular", serif !important;
  font-weight: 100 !important;
  font-style: normal !important;
  transition: font-size 235ms, text-decoration 235ms;
  font-size: 2.85rem;
  text-decoration: underline;
}

#wikidata-homepage-link:not(:hover) {
  font-family: "CharisSIL-Regular", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  transition: font-size 235ms, text-decoration 235ms;
  font-size: 2.75rem;
  text-decoration: none;
}

#mq-invalid-container {
  position: fixed;
  background-color: rgba(var(--danger), 0.3);
  backdrop-filter: blur(3rem);
  padding: 0.4rem 1.75rem;
  border-radius: 1rem;
  border: 0.075rem solid rgba(var(--danger), 0.45);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  bottom: 35%;
  opacity: 0;
}

#mq-invalid-message {
  font-size: 1.5rem;
  color: rgb(var(--danger))
}