@import url('../assets/Palette.css');

@font-face {
  font-family: 'CharisSIL-Regular';
  src: url('../assets/font/CharisSIL-Regular.ttf') format('truetype');
}


#edges-info-container {
  display: flex;
  justify-self: flex-end;
  align-self: end;
  grid-column: 2;
  grid-row: 1;
  margin-right: 1rem;
  border-radius: 0.5rem;
  transform: translateX(5rem);
  backdrop-filter: blur(0.5rem);
  background-color: rgba(var(--sketch-bg), 0.25);
}

#edges-info {
  display: flex;
  flex-direction: column;
  max-height: 7rem;
  padding: 0.5rem 0.75rem;
  overflow-y: auto;
  scrollbar-color: rgba(var(--font), 25%) transparent;
  transition: scrollbar-color 0.2s ease-in-out;
}

#edges-info:not(:hover) {
  transition: scrollbar-color 0.2s ease-in-out;
  scrollbar-color: rgba(var(--font), 0%) transparent;
}

#details-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.1rem
}