@import url('../assets/Palette.css');

@font-face {
  font-family: 'CharisSIL-Regular';
  src: url('../assets/font/CharisSIL-Regular.ttf') format('truetype');
}

#vertext-info {
  display: flex;
  justify-self: flex-end;
  margin-right: 1rem;
}

#attr-list {
  display: flex;
  align-items: center;
  list-style: none;
  transform: translateY(-5rem);
}

#attr {
  font-size: 1.4rem;
  color: rgb(var(--font), 75%);
  font-family: 'CharisSIL-Regular', sans-serif;
  /* Offset to match point to center of text */
  margin-bottom: 7.5px;
}

#icon-container {
  display: flex;
  justify-self: flex-end;
}

#icon-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}