#re-search-container {
  display: inline-flex;
  align-items: center;
  transition: transform var(--def-transit) ease-in-out, opacity var(--def-transit) ease-in-out;
  transform: translateY(100%);
}

#re-search-input {
  display: inline-flex;
  background-color: transparent;
  font-weight: 700;
  text-shadow: 1px 1px black;
  font-size: clamp(1.65rem, 2.35vw, 3.5rem);
  border: none;
  outline: none;
  width: 22vw;
  color: rgb(var(--font));
  border-bottom: 2px solid rgb(var(--font), 0.5);
  padding: 0.25rem 0.15rem;

}

#re-search-input:focus {
  outline: none;
  border-bottom: 2px solid rgb(var(--font), 0.75);
  caret-color: rgb(var(--font));
  color: rgb(var(--font));
}

#re-search-input::placeholder {
  color: rgba(var(--font), 0.35);
}

#re-search-icon-container {
  display: inline-flex;
}

#re-search-icon {}

#re-search-error-icon {
  position: fixed;
  opacity: 0%;
  transition: opacity 0.82s;
}