:root {
  --font: 245, 245, 245;
  --body-bg: 32, 31, 31;
  --sketch-bg: 1, 1, 14;
  --hyperlink: 16, 84, 136;
  --primary: 39, 76, 119;
  --danger: 229, 56, 59;
  --safety: 76, 119, 83;
  --edge-in: 30, 0, 255;
  --edge-out: 255, 50, 80;
  --edge-para: 135, 20, 255;
  --gold: 252, 220, 18;
}