* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-color: #f5f5f5;
  --gray-100: #F8F9FA;
  --gray-200: #E9ECEF;
  --gray-300: #DEE2E6;
  --gray-400: #CED4DA;
  --gray-500: #ADB5BD;
  --gray-600: #6C757D;
  --gray-700: #495057;
  --gray-800: #343A40;
  --gray-900: #212529;
  --sketch-bg: #01010e;
  --primary: #274c77;
  --hyperlink: #105488;
  --accent: #ff6700;
  --danger: #e5383b;
  color-scheme: light dark;
}

body {
  height: 100vh;
  height: 100vh;
  overflow-y: clip;
  width: 100vw;
  overflow-x: clip;
}

a {
  color: var(--hyperlink);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

#app-layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 862px;
}

#sketch-layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem 0rem 2rem 1rem rgba(0, 0, 0, 0.2);
}

canvas {
  /* forces close 4px discrepency on bottom of canvas */
  outline: 4px solid rgb(1, 1, 14);
}

#related-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
  background-color: transparent;
}

#related-links-list {
  list-style: none;
  display: flex;
  background-color: transparent;
  font-size: 1.2rem;
}

#related-link a:hover {
  transition: font-size 235ms, text-decoration 235ms;
  font-size: 1.3rem;
  text-decoration: underline;
}

#related-link a:not(:hover) {
  transition: font-size 235ms, text-decoration 235ms;
  font-size: 1.2rem;
  text-decoration: none;
}

@media (max-width: 865px) {
  #related-links-list {
    gap: 1rem;
  }
}

@media (min-width: 866px) and (max-width: 1024px) {
  #related-links-list {
    gap: 2rem;
  }
}

@media (min-width: 1025px) and (max-width: 1225px) {
  #related-links-list {
    gap: 3rem;
  }
}

@media (min-width: 1226px) and (max-width: 1450px) {
  #related-links-list {
    gap: 5rem;
  }
}

@media (min-width: 1451px) {
  #related-links-list {
    gap: 7rem;
  }
}

.show-init-query {
  opacity: 1;
}

.hide-init-query {
  opacity: 0;
}

#initial-query-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease-in-out;
}

#initial-query-form-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#initial-query-form {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#initial-query-input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.75rem;
  border: 1px solid var(--gray-500);
  border-radius: 0.5rem;
  background-color: transparent;
  color: var(--font-color);
}

#initial-query-submit {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  padding: 0.75rem;
  border: 1px solid var(--gray-500);
  border-radius: 0.5rem;
  background-color: transparent;
  color: var(--gray-800);
  cursor: pointer;
}

#init-query-icon {
  height: 1.5rem;
  transform: translateY(0.15rem);
  color: var(--gray-500);
}

#init-query-input::placeholder {
  color: var(--gray-800);
}

#init-query-input:focus {
  outline: none;
  border: 1px solid var(--primary);
}

#init-query-infobox {
  display: flex;
  padding: 0.5rem;
  position: relative;
  font-size: 1.5rem;
  align-self: flex-start;
}

#init-query-infobox:hover {
  transition: font-size 235ms, text-decoration 200ms;
  font-size: 1.6rem
}

#settings-components-container {
  position: absolute;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
  background-color: transparent; */
}