* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: rgb(var(--font));
}

:root {
  /* e.x. rgb(var(--font),1.0) */

  /* rgb(245,245,245) */
  --font: 245, 245, 245;
  /* rgb(15,15,25) */
  --body-bg: 15, 15, 25;
  /* rgb(1,1,14) */
  --sketch-bg: 1, 1, 14;
  /* rgb(0,122,255) */
  --hyperlink: 0, 122, 255;
  --load3: 0, 122, 255;
  /* rgb(39,76,119) */
  --primary: 39, 76, 119;
  /* rgb(229,56,59) */
  --danger: 229, 56, 59;
  /* rgb(30,0,255) */
  --edge-in: 30, 0, 255;
  /* rgb(60, 80, 255) */
  --edge-in-text: 60, 80, 255;
  /* rgb(255,45,80) */
  --edge-out: 255, 45, 80;
  /* rgb(255, 80, 100) */
  --edge-out-text: 255, 90, 105;
  --load6: 255, 45, 80;
  /* rgb(135,20,255) */
  --edge-para: 135, 20, 255;
  /* rgb(140, 70, 255) */
  --edge-para-text: 140, 70, 255;

  /* rgb(252,220,18) */
  --light-gold: 253, 236, 78;
  --gold: 252, 220, 18;
  --dark-gold: 202, 182, 2;
  /* rgb(76, 217, 100) */
  --green: 76, 217, 100;
  --load1: 76, 217, 100;
  /* rgb(90,200,250) */
  --light-blue: 90, 200, 250;
  --load2: 90, 200, 250;
  /* rgb(52, 170,220) */
  --med-blue: 52, 170, 220;
  --load4: 52, 170, 220;
  /* rgb(88, 86, 214) */
  --purple-ish: 88, 86, 214;
  --load5: 88, 86, 214;

  --error-transition-dur: 820ms;
  --default-transition-dur: 350ms;
}

@font-face {
  font-family: "CharisSIL-Regular";
  src: url("../assets/fonts/CharisSIL-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CharisSIL-Bold";
  src: url("../assets/fonts/CharisSIL-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CharisSIL-Italic";
  src: url("../assets/fonts/CharisSIL-Italic.ttf") format("truetype");
}
