:root {
  /* global color vars */
  --font-color: #f5f5f5;
  --gray-500: #ADB5BD;
  --gray-800: #343A40;
  --gray-900: #212529;
  --body-bg: #111112;
  --sketch-bg: #01010e;
  --hyperlink: #105488;
  --primary: #274c77;
  --danger: #e5383b;
}

.unused-colors {
  --gray-100: #F8F9FA;
  --gray-200: #E9ECEF;
  --gray-300: #DEE2E6;
  --gray-400: #CED4DA;
  --gray-600: #6C757D;
  --gray-700: #495057;
  --accent: #ff6700;
}