#navbar-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

#navbar-layout {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

#navbar-title-text {
  position: absolute;
  font-size: clamp(2rem, 6vw, 3.8rem);
  text-shadow: 1px 1px black;
  text-wrap: nowrap;
  min-width: fit-content;
  /* animates position on top of explore text when a sketch is active */
  transition: transform var(--default-transition-dur) ease-in-out;
  letter-spacing: -0.15rem;
}

/* .primary class indicates this text is the current title */
/* .secondary class indicates this text is the sub-title */
#navbar-title-text.primary {
  transform: scale(100%) translateY(0%);
}
#navbar-title-text.secondary {
  transform: scale(35%) translateY(-75%);
}

#navbar-explore-text {
  font-size: clamp(2rem, 6vw, 3.8rem);
  text-shadow: 1px 1px black;
  text-wrap: nowrap;
  letter-spacing: -0.25rem;
  min-width: fit-content;
  transition: transform var(--default-transition-dur) ease-in-out;
  transform: translateY(150%);
}
#navbar-explore-text.primary {
  transform: translateY(150%);
}
#navbar-explore-text.secondary {
  transform: translateY(0%);
}
