#navbar-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

#navbar-layout {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

#navbar-header {}

#navbar-title-text {
  position: absolute;
  font-size: clamp(2rem, 6vw, 3.8rem);
  text-shadow: 1px 1px black;
  text-wrap: nowrap;
  min-width: fit-content;
  transition: transform var(--def-transit) ease-in-out;
  letter-spacing: -0.15rem;
  /* animates to new position on top of explore text... */
  /* transform: scale(35%) translateY(-75%); */
}

#navbar-explore-text {
  font-size: clamp(2rem, 6vw, 3.8rem);
  text-shadow: 1px 1px black;
  text-wrap: nowrap;
  letter-spacing: -0.25rem;
  min-width: fit-content;
  transition: transform var(--def-transit) ease-in-out;
  transform: translateY(150%);
}